.a2-navbar-right {
    width: 125px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

#a2a-navbar-right-upload-post-text-to-modal {
    font-family: Sailec-Medium, "Helvetica Neue", Arial, sans-serif;
    color: #333333;
    margin-right: 20px;
    font-size: 18px;
    margin-top: 19px;
}

#a2a-navbar-right-upload-post-text-to-modal:hover {
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4)
}

.create-post-form-modal-container {
    display: flex;;
    width: 100%;
    justify-content: center;
    padding: 7%;
}

.create-new-post-form {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#become-a-host-form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 28px;
    color: rgb(118, 118, 118);
}

#welcome-back-to-atlas-host {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(128, 60, 0);
}

#host-input-title {
    margin-left: 4px;
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: bold;
}

#host-form-inputs {
    padding: 4px;
    margin-bottom: 15px;
    border-radius: 8px;
    height: 35px;
    font-size: 20px;
}

#host-form-inputs:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(212, 223, 215)
}

.host-submit-button {
    color: white;
    background-color: rgb(128, 60, 0);
    height: 60px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
}

.host-submit-button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1.2);
}

.create-post-errors {
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 20px;
}
