.create-post-form-modal-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 75vh;
    /* padding-left: 15%; */
    justify-content: center;
    align-items: center;
    /* border: red 5px solid; */
}

.create-new-post-form {
    /* border: orange solid 2px; */
    overflow-y: scroll;
    width: 100%;
    padding: 5%;
}

.a2-navbar-right {
    width: 125px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

#a2a-navbar-right-upload-post-text-to-modal {
    font-family: Sailec-Medium, "Helvetica Neue", Arial, sans-serif;
    color: #333333;
    margin-right: 20px;
    font-size: 18px;
    margin-top: 19px;
}

#a2a-navbar-right-upload-post-text-to-modal:hover {
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4)
}


.create-new-post-form {
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    justify-content: center;
    width: 750px;
    height: 700px;
}

#upload-post-form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-family: Sailec-Medium, "Helvetica Neue",
        Arial,
        sans-serif;
    font-size: 28px;
    color: rgb(128, 60, 0);
    margin-top: -10px;
    margin-bottom: 20px;
}

#post-input-title {
    display: flex;
}

.pi-title {
    font-size: 17px;
    font-family: Sailec-Bold, "Helvetica Neue", Arial, sans-serif;
    color: #333333;
    margin-bottom: 4px;
    display: flex;
}

#post-form-inputs {
    margin-bottom: 15px;
    border-radius: 7px;
    /* height: 70%; */
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

#post-form-inputs:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(224, 224, 224)
}

.post-submit-button {
    color: white;
    background-color: rgb(128, 60, 0);
    height: 45px;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    /* margin-bottom: 50px; */
}

.post-submit-button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1.2);
}

.create-post-errors {
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
    color: red;
    text-decoration: none;
}
