.create-comment-button-in-modal {
    color: #333333;
    font-size: 50px;
}

.create-comment-button-in-modal:hover {
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4)
}

.comment-form-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 500px;
    align-items: center;
    border: red solid 10px;
    margin-top: -60px;
}

#create-comment-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-family: Sailec-Medium, "Helvetica Neue",
        Arial,
        sans-serif;
    font-size: 28px;
    color: rgb(128, 60, 0);
    margin-top: -10px;
}


#create-comment-input-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

#create-comment-input {
    margin-bottom: 15px;
    border-radius: 8px;
    height: 70%;
    width: 100%;
    font-size: 20px;
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

#create-comment-input:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(224, 224, 224)
}

#create-comment-submit {
    color: white;
    background-color: rgb(128, 60, 0);
    height: 45px;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 50px;
}

#create-comment-submit:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1.2);
}

.create-comment-errors {
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 30px;
    font-size: 16px;
}
