/* TODO Add site wide styles */

@font-face {
    font-family: 'Sailec-Bold';
    src: url('./sailec-font/Sailec\ Bold.ttf')
}

@font-face {
    font-family: 'Sailec-Light';
    src: url('./sailec-font/Sailec\ Light.ttf')
}

@font-face {
    font-family: 'Sailec-Medium';
    src: url('./sailec-font/Sailec\ Medium.ttf')
}

@font-face {
    font-family: 'Sailec-Thin';
    src: url('./sailec-font/Sailec\ Thin.ttf')
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vw;
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
}
