.a-full-post-page-wrap {
    /* margin-left: 105px;
    margin-right: 105px;
    margin-top: 130px;
    margin-bottom: 105px; */
    width: 100%;
    display: flex;
    padding: 10%;
}

.left-post-photo {
    display: flex;
    width: 10%;
}





.post-detail-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 40%;
    font-size: 12px;
}

.image-for-post-id {
    border-radius: 5%;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    /* width: max-content; */
    /* max-width: 200px; */
    /* height: max-content; */
    /* max-height: 200px; */
    box-sizing: border-box;

}


.comments-container {
    border: 1px rgb(198, 198, 198) solid;
    border-radius: 15px;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    /* margin-right: 10px; */
    display: grid;
    padding: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.double-card {
    display: flex;
}

.comments-of-post {
    padding: 20px;
    margin-top: -43px;
    display: flex;
    flex-direction: column;
}

#title-header-1 {
    font-size: 25px;
    color: rgb(128, 60, 0);
    font-weight: bold;
    margin-top: -0.5px;
    width: 70%;
}

#title-header-2 {
    font-size: 25px;
    color: rgb(128, 60, 0);
    font-weight: bold;
    width: 50%;
}

#review-writer {
    font-weight: bold;
    font-size: 18px;
}

.individual-review-container {
    margin-bottom: 20px;
}

#review-after {
    margin-bottom: 10px;
}

#post-detail-description {
    font-size: 18px;
}

.comment-buttons {
    margin-bottom: 15px;
    margin-top: -15px;
}

#post-detail-info {
    display: flex;
}
