.update-post-button-in-modal {
    width: 20px;
    height: 20px;
    margin-left: -100px;
    margin-right: 15px;
}

.update-post-button-in-modal:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7)
}

.update-post-form {
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    justify-content: center;
    width: 700px;
    height: 100%;
    /* align-items: center; */
    /* border: red solid 10px; */
    padding-bottom: 25px;
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
}

#update-post-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-family: Sailec-Medium, "Helvetica Neue",
        Arial,
        sans-serif;
    font-size: 28px;
    color: rgb(128, 60, 0);
    margin-top: -10px;
    margin-bottom: 20px;
}

#update-post-input-title {
    margin-bottom: -15px;
}

#update-post-input {
    margin-bottom: 15px;
    border-radius: 7px;
    /* height: 70%; */
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
    margin-top: 20px;
}

#update-post-input:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(224, 224, 224)
}

#update-post-submit {
    color: white;
    background-color: rgb(128, 60, 0);
    height: 45px;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}

#update-post-submit:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1.2);
}

.update-post-errors {
    font-family: Sailec-Light, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 30px;
    font-size: 16px;
    margin-top: 30px;
    color: red;
}
